# Node.js
node_modules/
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.out
*.pid
*.gz

# Cache
.cache/
dist/
build/
tmp/
temp/

# Sistema e Editor
.DS_Store
Thumbs.db
.vscode/
*.swp
*.bak
*.old

# Testes com bancos locais
db.json
